<style>
@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700&display=swap');


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #E2F4FF;
   color: black;
   text-align: center;
}
</style>


<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://kit.fontawesome.com/1f7411956b.js"></script>

<div class="footer">


  <div class="hidden" id="pregunta_pa_footer">
      <div class="col-md-8">
        <span style="color: #254064;">1 de 138 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 3%; background-color: #254064;">3%</div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_pb_pa_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_p0_pa_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
  </div>

  <div class="hidden" id="pregunta_pb_footer">
      <div class="col-md-8">
        <span style="color: #254064;">2 de 138 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 1%; background-color: #254064;">1%</div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_pc_pb_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_pa_pb_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
  </div>

  <div class="hidden" id="pregunta_pc_footer">
      <div class="col-md-8">
        <span style="color: #254064;">3 de 138 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 5%; background-color: #254064;">5%</div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_pd_pc_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_pb_pc_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
  </div>

  <div class="hidden" id="pregunta_pd_footer">
      <div class="col-md-8">
        <span style="color: #254064;">4 de 138 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 6%; background-color: #254064;">6%</div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_pe_pd_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_pc_pd_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
  </div>

  <div class="hidden" id="pregunta_pe_footer">
      <div class="col-md-8">
        <span style="color: #254064;">5 de 138 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 7%; background-color: #254064;">6%</div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_pf_pe_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_pd_pe_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
  </div>

  <div class="hidden" id="pregunta_pf_footer">
      <div class="col-md-8">
        <span style="color: #254064">6 de 138 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 9%; background-color: #254064;">6%</div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_pg_pf_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_pe_pf_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
        </div>
      </div>  
  </div>

  <div class="hidden" id="pregunta_pg_footer">
      <div class="col-md-8">
        <span style="color: #254064;">0 de 138 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 0%; background-color: #254064;">6%</div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_ph_pg_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_pf_pg_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
  </div>

  <div class="hidden" id="pregunta_ph_footer">
      <div class="col-md-8">
        <span style="color: #254064;">0 de 138 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 0%; background-color: #254064;">6%</div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_pi_ph_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_pg_ph_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
  </div>

  <div class="hidden" id="pregunta_pi_footer">
      <div class="col-md-8">
        <span style="color: #254064;">0 de 138 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 0%; background-color: #254064;">6%</div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_p1_pi_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_ph_pi_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
  </div>

  <div class="hidden" id="pregunta_p1_footer">
      <div class="col-md-8">
        <span style="color: #254064;">1 de 138 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 1%; background-color: #254064;">6%</div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_p2_p1_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_pi_p1_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
  </div>

  <div class="hidden" id="pregunta_p2_footer">
      <div class="col-md-8">
        <span style="color: #254064;">2 de 129 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 1%; background-color: #254064;">6%</div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_p4_p2_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_p1_p2_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
  </div>

  <div class="hidden" id="pregunta_p4_footer">
      <div class="col-md-8">
        <span style="color: #254064">8 de 129 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 6%; background-color: #254064;">6%</div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_p8_p4_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_p3_p4_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
        </div>
      </div>  
  </div>

  <div class="hidden" id="pregunta_p8_footer">
        <div class="col-md-8">
        <span style="color: #254064">8 de 138 preguntas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 9%; background-color: #254064;">6%</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <a class="boton1" id="pregunta_p9_p8_boton">
              <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
            </a>
            <a class="boton1" id="pregunta_p4_p8_boton">
              <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
            </a>
          </div>
      </div>  
    </div>











</div>
