<style>
body {
  margin: 0;
  font-family:  @import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700&display=swap');
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background: #E2F4FF;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
</style>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://kit.fontawesome.com/1f7411956b.js"></script>

<div class="container" style="max-width: 1400px;">

  <div class="header" id="myHeader">

    <div class="" id="div_p0">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Empezar nueva encuesta estudiantes</h2>
    </div>

    <div class="hidden" id="div_pa">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Numero del Formulario</h2>
    </div>

    <div class="hidden" id="div_pb">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Entrevistador(a)</h2>
    </div>

    <div class="hidden" id="div_pc">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;"></h2>
    </div>

    <div class="hidden" id="div_pd">
     <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">B. Fecha de las visitas</h2>
    </div>

    <div class="hidden" id="div_pe">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">C. Resultado de la aplicación</h2>
    </div>

    <div class="hidden" id="div_pf">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">D. Resultado de la encuesta</h2>
    </div>

    <div class="hidden" id="div_pg">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">E. Ubicación e identificación de la vivienda</h2>
    </div>

    <div class="hidden" id="div_ph">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">E. Ubicación e identificación de la vivienda</h2>
    </div>

    <div class="hidden" id="div_pi">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Dirección actualizada:</h2>
    </div>

    <div class="hidden" id="div_p1">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">p1. ¿Cuántos hogares habitan esta vivienda?</h2>
    </div>

    <div class="hidden" id="div_p2">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">p2. ¿Cuantas personas conforman este hogar?</h2>
    </div>

    <div class="hidden" id="div_p4">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">A continuación se debe diligenciar la siguiente tabla, identificando y enlistando cada una de las personas que componen este hogar. Por favor llenar la información para todos los integrantes: niñas, niños, jóvenes y personas adultas. En la primera línea debe quedar la persona de mayor edad.</h2>
    </div>

    <div class="hidden" id="div_p8">
      <h3 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064; text-align: center;">p8. Estrato actual de la vivienda</h3>
    </div>





  </div>
  


</div>



<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>




