<style>
body {
  margin: 0;
  font-family:  @import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700&display=swap');
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background: #E2F4FF;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
</style>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://kit.fontawesome.com/1f7411956b.js"></script>

<div class="container" style="max-width: 1400px;">

  <div class="header" id="myHeader">

    <div class="" id="div_p0">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Empezar nueva encuesta estudiantes</h2>
    </div>

    <div class="hidden" id="div_pa">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Numero del Formulario</h2>
    </div>

    <div class="hidden" id="div_pb">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Entrevistador(a)</h2>
    </div>

    <div class="hidden" id="div_pc">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;"></h2>
    </div>

    <div class="hidden" id="div_pd">
     <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">B. Fecha de las visitas</h2>
    </div>

    <div class="hidden" id="div_pe">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">C. Resultado de la aplicación</h2>
    </div>

    <div class="hidden" id="div_pf">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">D. Resultado de la encuesta</h2>
    </div>

    <div class="hidden" id="div_pg">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">E. Ubicación e identificación de la vivienda</h2>
    </div>

    <div class="hidden" id="div_ph">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">E. Ubicación e identificación de la vivienda</h2>
    </div>

    <div class="hidden" id="div_pi">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Dirección actualizada:</h2>
    </div>

    <div class="hidden" id="div_p1">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">p1. ¿Cuántos hogares habitan esta vivienda?</h2>
    </div>

    <div class="hidden" id="div_p2">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">p2. ¿Cuantas personas conforman este hogar?</h2>
    </div>

    <div class="hidden" id="div_p4">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">A continuación se debe diligenciar la siguiente tabla, identificando y enlistando cada una de las personas que componen este hogar. Por favor llenar la información para todos los integrantes: niñas, niños, jóvenes y personas adultas. En la primera línea debe quedar la persona de mayor edad.</h2>
    </div>

    <div class="hidden" id="div_p8">
      <h3 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064; text-align: center;">p8. Estrato actual de la vivienda</h3>
    </div>

    <div class="hidden" id="div_p9">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Tipo de vivienda</h2>
    </div>
    <div class="hidden" id="div_p10">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">El lugar donde habita es </h2>
    </div>
    <div class="hidden" id="div_p14_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">En una escala de 1 a 4, donde 1 es Nada importante y 4 Muy importante, ¿que? tan importante es en su vida? -</h2>
    </div>
    <div class="hidden" id="div_p15">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Con cual de las siguientes frases esta usted mas de acuerdo? </h2>
    </div>
    <div class="hidden" id="div_p16_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Usted en general, se siente mucho, poco o nada motivado para votar por...? </h2>
    </div>
    <div class="hidden" id="div_p17_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">A la hora de votar ¿Que? tan importante es para usted...?</h2>
    </div>
    <div class="hidden" id="div_p18_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">En general se puede confiar en </h2>
    </div>
    <div class="hidden" id="div_p19_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿En cuales de las siguientes situaciones se justifica desobedecer la ley? </h2>
    </div>
    <div class="hidden" id="div_p20_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Podria decirme si, recientemente, ha oido usted comentar a algun familiar o conocido sobre alguien que…</h2>
    </div>
    <div class="hidden" id="div_p21_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Podria decirme si, recientemente ha oido usted comentar a algun familiar o conocido(a), sobre algun(a) funcionario(a) publico(a) que… </h2>
    </div>
    <div class="hidden" id="div_p22">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">En una escala de 1 a 4, donde 1 es “para nada justificable” y 4 es “totalmente justificable”, ¿para usted, que? tan justificable es evadir los impuestos? </h2>
    </div>
    <div class="hidden" id="div_p23_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Digame si esta en desacuerdo o de acuerdo con las siguientes afirmaciones</h2>
    </div>
    <div class="hidden" id="div_p24_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">En su opinion, ¿que? tan transparentes son las decisiones que toma... ?</h2>
    </div>
    <div class="hidden" id="div_p25_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">De la siguiente lista de espacios de participacion, ¿en cuales ha participado como ciudadano(a)? </h2>
    </div>
    <div class="hidden" id="div_p26">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">"Digame si esta en desacuerdo o de acuerdo con la siguiente afirmacion:
    ""La participacion permite mejorar la comunicacion con las autoridades del Distrito y de la Localidad""."</h2>
    </div>
    <div class="hidden" id="div_p27_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Por su propia iniciativa, ¿usted actualmente lidera o participa en algun proyecto, actividad o campan?a orientada al mejoramiento de...?</h2>
    </div>
    <div class="hidden" id="div_p28_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿De las siguientes formas de participacion, digame cuales conoce y cuales ha utilizado?</h2>
    </div>
    <div class="hidden" id="div_p29_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">A continuacion se encuentra una lista de afirmaciones con respecto a la participacion ciudadana. Marque para cada una si esta en desacuerdo o de acuerdo.</h2>
    </div>
    <div class="hidden" id="div_p30">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Considerando su vida en general, para usted en los ultimos 10 an?os, la vida en Bogota ha…</h2>
    </div>
    <div class="hidden" id="div_p31_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Para usted Bogota es…</h2>
    </div>
    <div class="hidden" id="div_p32">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Digame que? tan orgulloso(a) se siente de vivir en Bogota.</h2>
    </div>
    <div class="hidden" id="div_p33">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Principalmente, ¿que? hace cuando tiene tiempo libre?</h2>
    </div>
    <div class="hidden" id="div_p34_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">En una escala de 1 a 4, donde 1 es Nada satisfecho(a) y 4 es Muy satisfecho(a). ¿Cual es su nivel de satisfaccion con...?</h2>
    </div>
    <div class="hidden" id="div_p35">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Como se moviliza usted principalmente? </h2>
    </div>
    <div class="hidden" id="div_p36">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Por favor califique de 1 a 5 su nivel de satisfaccion con la manera como usted se moviliza principalmente, siendo 1 la peor calificacion y 5 la mejor calificacion. </h2>
    </div>
    <div class="hidden" id="div_p37_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Ahora voy a leerle una lista de situaciones. Digame si las presencio durante la semana pasada. </h2>
    </div>
    <div class="hidden" id="div_p38_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Ademas de ser un espacio para transitar, para usted la calle es un espacio... </h2>
    </div>
    <div class="hidden" id="div_p39_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">En una escala de 1 a 4, donde 1 es Muy Malo (MM) y 4 es Muy Bueno (MB). ¿Como califica los siguientes aspectos del barrio donde vive?</h2>
    </div>
    <div class="hidden" id="div_p40">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Por favor piense en los espacios cercanos a su casa. Digame si en ellos hay parques o espacios publicos recreativos. </h2>
    </div>

    <div class="" id="div_p41_a">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Los parques y espacios pu?blicos de uso recreativos cercanos a su casa son...</h2>
    </div>
    <div class="" id="div_p42_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Ahora piense en el parque ma?s cercano a su casa. ¿En ese parque, se presentan las siguientes situaciones?</h2>
    </div>
    <div class="" id="div_p43">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;"> ¿Con que? frecuencia visita este parque?</h2>
    </div>
    <div class="" id="div_p44">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Cua?l es la principal actividad que usted realiza en ese parque?</h2>
    </div>
    <div class="" id="div_p45_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Di?game si su barrio cuenta con…</h2>
    </div>
    <div class="" id="div_p46_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Ahora di?game el estado en que se encuentra cada uno de ellos.</h2>
    </div>
    <div class="" id="div_p47_">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">De las siguientes situaciones, di?game ¿cua?l es la que ma?s dan?o le hace a su barrio?</h2>
    </div>
    <div class="" id="div_p48_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿En el u?ltimo mes ha visto en su barrio, personas que...?</h2>
    </div>
    <div class="" id="div_p49">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Usted separa los residuos que se generan en su casa?</h2>
    </div>
    <div class="" id="div_p50">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Usted no separa los residuos, porque...?</h2>
    </div>
    <div class="" id="div_p51">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Usted reutiliza envases, papel, cajas, llantas o algún otro material?</h2>
    </div>
    <div class="" id="div_p52">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Cuándo usted va al supermercado, ¿cuáles criterios tiene en cuenta para escoger sus productos?</h2>
    </div>
    <div class="" id="div_p53">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">De las siguientes acciones, ¿cuál cree que más afecta las fuentes de agua, canales y ríos 54.Si usted ve o se entera de una situación donde un animal está en riesgo, ¿qué hace?de la ciudad?</h2>
    </div>
    <div class="" id="div_p54">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Si usted ve o se entera de una situación donde un animal está en riesgo, ¿qué hace?</h2>
    </div>
    <div class="" id="div_p55_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Dígame si está en desacuerdo o de acuerdo con las siguientes afirmaciones:</h2>
    </div>
    <div class="" id="div_p56">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Dígame si está en desacuerdo o de acuerdo con las siguientes afirmaciones:</h2>
    </div>
    <div class="" id="div_p57_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">En una escala de 1 a 10 donde 1 es nada y 10 es totalmente, ¿qué tanto confía en…?</h2>
    </div>
    <div class="" id="div_p58_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Qué tan libre se siente para expresar sus opiniones ante...?</h2>
    </div>
    <div class="" id="div_p59">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Frente a personas de costumbres distintas a las suyas o de las de su hogar, (Leer las opciones y marcar solamente una en cada pregunta)usted normalmente:</h2>
    </div>
    <div class="" id="div_p60_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Dígame por favor su nivel de acuerdo o desacuerdo con las siguientes afirmaciones:</h2>
    </div>
    <div class="" id="div_p61">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Si una persona reinsertada de grupos armados ilegales  llegara a vivir a su vecindario (barrio o conjunto), usted:</h2>
    </div>
    <div class="" id="div_p62_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Dígame por favor si está en desacuerdo o de acuerdo con las siguientes afirmaciones:</h2>
    </div>
    <div class="" id="div_p63_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Dígame por favor si está en desacuerdo o de acuerdo con las siguientes afirmaciones:</h2>
    </div>
    <div class="" id="div_p64">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Cuál de las siguientes opciones se acerca más a su forma de pensar? Tener hijos antes de los 18 años hoy en día:</h2>
    </div>
    <div class="" id="div_p65_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">En muchos barrios, conjuntos y edificios de Bogotá se presentan problemas entre vecinos. Dígame usted, si en su barrio se presentan con cierta frecuencia…</h2>
    </div>
    <div class="" id="div_p66">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Usted se ha sentido discriminado(a) en Bogotá durante los últimos dos años?</h2>
    </div>
    <div class="" id="div_p67">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Cuál fue la principal razón por la que se sintió discriminado(a)?</h2>
    </div>
    <div class="" id="div_p68">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Durante los últimos 12 meses, usted adelantó alguna de las siguientes acciones para defender sus derechos o los de otros?</h2>
    </div>
    <div class="" id="div_p69_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Usted considera que, a las personas lesbianas, gays, bisexuales, transgénero o intersexuales LGBTI, se les debería prohibir…?</h2>
    </div>
    <div class="" id="div_p70_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Dígame por favor si está en desacuerdo o de acuerdo con las siguientes afirmaciones:</h2>
    </div>
    <div class="" id="div_p71">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Cuando presenció una situación de maltrato a un niño o a una niña ¿usted qué hizo?</h2>
    </div>
    <div class="" id="div_p72">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Cuando usted es víctima o testigo de un robo callejero, ¿qué hace?</h2>
    </div>
    <div class="" id="div_p73">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Dígame por favor si está en desacuerdo o de acuerdo con la siguiente afirmación: "Pensando en la inseguridad de la ciudad, lo mejor es tener un arma para protegerse".</h2>
    </div>
    <div class="" id="div_p74">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Dígame por favor si está en desacuerdo o de acuerdo con la siguiente afirmación: "Matar o mandar matar a un criminal no debería ser considerado un delito".</h2>
    </div>
    <div class="" id="div_p75">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Practica actualmente alguna actividad artística?</h2>
    </div>
    <div class="" id="div_p76_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">En los últimos 12 meses, ¿cuál de las siguientes actividades usted practicó y con qué frecuencia?</h2>
    </div>
    <div class="" id="div_p77">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Esa(s) actividad(es) artística(s), ¿usted la(s) realizó principalmente porque...?</h2>
    </div>
    <div class="" id="div_p78">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Usted cobra por esa actividad?</h2>
    </div>
    <div class="" id="div_p79">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Esa(s) actividad(es) artística(s), ¿usted la(s) realizó principalmente en…?</h2>
    </div>
    <div class="" id="div_p80">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Cuál es la principal razón por la cual usted no practica ninguna actividad artística?</h2>
    </div>
    <div class="" id="div_p81_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿En los últimos 12 meses, usted ha asistido en Bogotá, al menos una vez a…?</h2>
    </div>
    <div class="" id="div_p82">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Cuál es el principal motivo para no haber asistido a actividades artísticas en los últimos 12 meses? </h2>
    </div>
    <div class="" id="div_p83_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">En los últimos 12 meses, ¿usted asistió por lo menos una vez a…?</h2>
    </div>
    <div class="" id="div_p84_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">En los últimos 12 meses, ¿usted ha gastado dinero en…?</h2>
    </div>
    <div class="" id="div_p85">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Cuando usted paga por una expresión artística o cultural, lo hace principalmente porque…</h2>
    </div>
    <div class="" id="div_p86">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Si bien el acceso a algunas expresiones artísticas y culturales es gratuita, ¿cuál es su opinión frente a pagar por alguna de ellas?</h2>
    </div>
    <div class="" id="div_p87_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Cuáles de los siguientes equipamientos culturales en su localidad, ha visitado o utilizado usted88.¿Ha asistido en los últimos 12 meses a algún concierto de la Orquesta o alguien de su familia, en los últimos 12 meses?</h2>
    </div>
    <div class="" id="div_p88">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Ha asistido en los últimos 12 meses a algún concierto de la Orquesta o alguien de su familia, en los últimos 12 meses?Filarmónica de Bogotá? (coro filarmónico juvenil, infantil, banda filarmónica(Leer las opciones y marcar solamente una por cada pregunta) juvenil, orquesta filarmónica de Bogotá, orquesta filarmónica prejuvenil, juvenil)</h2>
    </div>
    <div class="" id="div_p89">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Dónde?</h2>
    </div>
    <div class="" id="div_p90">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Cuál es la principal razón por la cual usted no ha asistido a algún91.¿Usted sabe leer y escribir?(Leer las opciones y marcar solamente una)concierto de la Orquesta Filarmónica de Bogotá?</h2>
    </div>
    <div class="" id="div_p91">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Usted sabe leer y escribir?</h2>
    </div>
    <div class="" id="div_p92">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">En los últimos 12 meses, ¿usted leyó en cualquier formato y/o soporte? (Incluya lectura impresa o digital)</h2>
    </div>
    <div class="" id="div_p93">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Cuál es el principal motivo por el que no leyó en en los últimos 12 meses?</h2>
    </div>
    <div class="" id="div_p94">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿En los últimos 12 meses, leyó libros? (Incluya libros impresos o digitales)</h2>
    </div>
    <div class="" id="div_p95">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">En los últimos 12 meses, ¿cuántos libros leyó? Mínimo 1 - Máximo 250</h2>
    </div>
    <div class="" id="div_p96_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Diga por favor si está en desacuerdo o de acuerdo con las siguientes afirmaciones:</h2>
    </div>
    <div class="" id="div_p97_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Durante los dos últimos dos años usted habitualmente...</h2>
    </div>
    <div class="" id="div_p98">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Para que algo sea considerado patrimonio cultural, debería ser lo que:</h2>
    </div>
    <div class="" id="div_p99">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Para usted el patrimonio cultural debería ser definido por:</h2>
    </div>
    <div class="" id="div_p100">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Usted considera que las personas dañan los monumentos, esculturas en el espacio público y las fachadas4Identifique a los habitantes de un lugarque forman parte de los Bienes de Interés Cultural de la ciudad por:</h2>
    </div>
    <div class="" id="div_p101">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">.¿En qué localidades de Bogotá considera que existe patrimonio cultural?</h2>
    </div>







  </div>
  


</div>



<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>




