<style>
body {
  margin: 0;
  font-family:  @import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700&display=swap');
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background: #E2F4FF;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
</style>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://kit.fontawesome.com/1f7411956b.js"></script>

<div class="container" style="max-width: 1400px;">

  <div class="header" id="myHeader">

    <div class="" id="div_p0">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Empezar nueva encuesta estudiantes</h2>
    </div>

    <div class="hidden" id="div_pa">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Numero del Formulario</h2>
    </div>

    <div class="hidden" id="div_pb">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Entrevistador(a)</h2>
    </div>

    <div class="hidden" id="div_pc">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;"></h2>
    </div>

    <div class="hidden" id="div_pd">
     <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">B. Fecha de las visitas</h2>
    </div>

    <div class="hidden" id="div_pe">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">C. Resultado de la aplicación</h2>
    </div>

    <div class="hidden" id="div_pf">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">D. Resultado de la encuesta</h2>
    </div>

    <div class="hidden" id="div_pg">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">E. Ubicación e identificación de la vivienda</h2>
    </div>

    <div class="hidden" id="div_ph">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">E. Ubicación e identificación de la vivienda</h2>
    </div>

    <div class="hidden" id="div_pi">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Dirección actualizada:</h2>
    </div>

    <div class="hidden" id="div_p1">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">p1. ¿Cuántos hogares habitan esta vivienda?</h2>
    </div>

    <div class="hidden" id="div_p2">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">p2. ¿Cuantas personas conforman este hogar?</h2>
    </div>

    <div class="hidden" id="div_p4">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">A continuación se debe diligenciar la siguiente tabla, identificando y enlistando cada una de las personas que componen este hogar. Por favor llenar la información para todos los integrantes: niñas, niños, jóvenes y personas adultas. En la primera línea debe quedar la persona de mayor edad.</h2>
    </div>

    <div class="hidden" id="div_p8">
      <h3 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064; text-align: center;">p8. Estrato actual de la vivienda</h3>
    </div>

    <div class="" id="div_bp9">
      <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Tipo de vivienda</h2>
    </div>
    <div class="" id="div_bp10">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">El lugar donde habita es </h2>
    </div>
    <div class="" id="div_bp14_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">En una escala de 1 a 4, donde 1 es Nada importante y 4 Muy importante, ¿que? tan importante es en su vida? -</h2>
    </div>
    <div class="" id="div_bp15">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Con cual de las siguientes frases esta usted mas de acuerdo? </h2>
    </div>
    <div class="" id="div_bp16_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Usted en general, se siente mucho, poco o nada motivado para votar por...? </h2>
    </div>
    <div class="" id="div_bp17_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">A la hora de votar ¿Que? tan importante es para usted...?</h2>
    </div>
    <div class="" id="div_bp18_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">En general se puede confiar en </h2>
    </div>
    <div class="" id="div_bp19_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿En cuales de las siguientes situaciones se justifica desobedecer la ley? </h2>
    </div>
    <div class="" id="div_bp20_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Podria decirme si, recientemente, ha oido usted comentar a algun familiar o conocido sobre alguien que…</h2>
    </div>
    <div class="" id="div_bp21_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Podria decirme si, recientemente ha oido usted comentar a algun familiar o conocido(a), sobre algun(a) funcionario(a) publico(a) que… </h2>
    </div>
    <div class="" id="div_bp22">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">En una escala de 1 a 4, donde 1 es “para nada justificable” y 4 es “totalmente justificable”, ¿para usted, que? tan justificable es evadir los impuestos? </h2>
    </div>
    <div class="" id="div_bp23_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Digame si esta en desacuerdo o de acuerdo con las siguientes afirmaciones</h2>
    </div>
    <div class="" id="div_bp24_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">En su opinion, ¿que? tan transparentes son las decisiones que toma... ?</h2>
    </div>
    <div class="" id="div_bp25_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">De la siguiente lista de espacios de participacion, ¿en cuales ha participado como ciudadano(a)? </h2>
    </div>
    <div class="" id="div_bp26">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">"Digame si esta en desacuerdo o de acuerdo con la siguiente afirmacion:
    ""La participacion permite mejorar la comunicacion con las autoridades del Distrito y de la Localidad""."</h2>
    </div>
    <div class="" id="div_bp27_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Por su propia iniciativa, ¿usted actualmente lidera o participa en algun proyecto, actividad o campan?a orientada al mejoramiento de...?</h2>
    </div>
    <div class="" id="div_bp28_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿De las siguientes formas de participacion, digame cuales conoce y cuales ha utilizado?</h2>
    </div>
    <div class="" id="div_bp29_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">A continuacion se encuentra una lista de afirmaciones con respecto a la participacion ciudadana. Marque para cada una si esta en desacuerdo o de acuerdo.</h2>
    </div>
    <div class="" id="div_bp30">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Considerando su vida en general, para usted en los ultimos 10 an?os, la vida en Bogota ha…</h2>
    </div>
    <div class="" id="div_bp31_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Para usted Bogota es…</h2>
    </div>
    <div class="" id="div_bp32">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Digame que? tan orgulloso(a) se siente de vivir en Bogota.</h2>
    </div>
    <div class="" id="div_bp33">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Principalmente, ¿que? hace cuando tiene tiempo libre?</h2>
    </div>
    <div class="" id="div_bp34_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">En una escala de 1 a 4, donde 1 es Nada satisfecho(a) y 4 es Muy satisfecho(a). ¿Cual es su nivel de satisfaccion con...?</h2>
    </div>
    <div class="" id="div_bp35">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">¿Como se moviliza usted principalmente? </h2>
    </div>
    <div class="" id="div_bp36">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Por favor califique de 1 a 5 su nivel de satisfaccion con la manera como usted se moviliza principalmente, siendo 1 la peor calificacion y 5 la mejor calificacion. </h2>
    </div>
    <div class="" id="div_bp37_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Ahora voy a leerle una lista de situaciones. Digame si las presencio durante la semana pasada. </h2>
    </div>
    <div class="" id="div_bp38_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Ademas de ser un espacio para transitar, para usted la calle es un espacio... </h2>
    </div>
    <div class="" id="div_bp39_a">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">En una escala de 1 a 4, donde 1 es Muy Malo (MM) y 4 es Muy Bueno (MB). ¿Como califica los siguientes aspectos del barrio donde vive?</h2>
    </div>
    <div class="" id="div_bp40">
          <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">Por favor piense en los espacios cercanos a su casa. Digame si en ellos hay parques o espacios publicos recreativos. </h2>
    </div>






  </div>
  


</div>



<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>




