<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container" style="text-align: center; margin-top: 30px; max-width: 1200px;">
  <table class="table table-bordered">
  <thead>
      <tr>
          <th class="text-center" style="width: 200px; vertical-align: middle;"><%= image_tag "alcaldia.jpg", style: "height:auto;width:300px;" %></th>
          <th class="text-center" style="width: 800px; vertical-align: middle;"><h2 style="color: #254064; text-align: center!important;">Encuesta Distrital de Deserción y Permanencia Escolar</h2></th>
          <td class="text-center" style="width: 200px; vertical-align: middle;"><%= image_tag "edu.jpg", style: "height:auto;width:300px;" %></td>
      </tr>
    </thead>
  </table>
    <br>


    <div class="cntainer" style="margin-top: 30px;">
        <div class="row">
            
            <div class="col-sm-4" style="margin-top: 30px;">
                <div class="card" style="background-color: #43a2d2; border-radius: 18px;">
                    <br> <br>
                    <h1 style="font-weight: bold;text-align: center; text-transform: uppercase; color: white;">Estudiantes</h1>
                    <h3 style=" text-align: center; text-transform: inherit!important; color: #254064;">Digitar encuesta realizada a Estudiantes</h3>
                    <br> 
                    <div class="text-center" style="margin: 10px;">
                    <a href="/estudiantes/new" class="btn btn-lg" style="border-radius: 50px; color: white; background-color: #254064">Digitar encuesta estudiantes </a>
                    </div>
                    <br>
                </div>
              </div>

            <div class="col-sm-4" style="margin-top: 30px;">
                <div class="card" style="background-color: #43a2d2; border-radius: 18px;">
                    <br> <br>
                    <h1 style="font-weight: bold;text-align: center; text-transform: uppercase; color: white;">Docentes</h1>
                    <h3 style=" text-align: center; text-transform: inherit!important; color: #254064;">Digitar encuesta realizada a Docentes</h3>
                    <br> 
                    <div class="text-center" style="margin: 10px;">
                    <a href="/docentes/new" class="btn btn-lg" style="border-radius: 50px; color: white; background-color: #254064">Digitar encuesta docentes </a>
                    </div>
                    <br>
                  </div>
              </div>

            <div class="col-sm-4" style="margin-top: 30px;">
                <div class="card" style="background-color: #43a2d2; border-radius: 18px;">
                    <br> <br>
                    <h1 style="font-weight: bold;text-align: center; text-transform: uppercase; color: white;">Directivos</h1>
                    <h3 style=" text-align: center; text-transform: inherit!important; color: #254064;">Digitar encuesta realizada a Directivos</h3>
                    <br> 
                    <div class="text-center" style="margin: 10px;">
                    <a href="/directors/new" class="btn btn-lg" style="border-radius: 50px; color: white; background-color: #254064">Digitar encuesta directivos </a>
                    </div>
                    <br>
                </div>
            </div>
    </div>
  </div>